// Main Styles


// Responsive Heading Text
@media (max-width: $size_lg) {
  h1,
  .h1 {
    font-size: calc(2.5rem / 1.5);
  }

  h2,
  .h2 {
    font-size: calc(2rem / 1.5);
  }

  h3,
  .h3 {
    font-size: calc(1.75rem / 1.5);
  }

  h4,
  .h4 {
    font-size: calc(1.5rem / 1.5);
  }

  h5,
  .h5 {
    font-size: calc(1.25rem / 1.5);
  }

  h6,
  .h6 {
    font-size: calc(1rem / 1.5);
  }
}
