// Main Styles
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.font-weight-bold {
  font-weight: 700 !important;
}

// Responsive Heading Text
@media (max-width: $size_lg) {
  h1,
  .h1 {
    font-size: calc(2.5rem / 1.5);
  }

  h2,
  .h2 {
    font-size: calc(2rem / 1.5);
  }

  h3,
  .h3 {
    font-size: calc(1.75rem / 1.5);
  }

  h4,
  .h4 {
    font-size: calc(1.5rem / 1.5);
  }

  h5,
  .h5 {
    font-size: calc(1.25rem / 1.5);
  }

  h6,
  .h6 {
    font-size: calc(1rem / 1.5);
  }
}

[_nghost-c2] {
  bottom: 42px !important;
}
