@import '../variables';

.layout {
  &.index {
    background-color: rgba($color: $primary-color, $alpha: .05);

    .main-content {
      padding: 0;

      @media (max-width: $size_lg) {
        padding: 0;
      }

      & > div {
        padding-top: 3rem;
      }
    }

    .section {
      // min-height: 85vh;
      padding: 0 5rem;

      @media (max-width: $size_lg) {
        padding: 0 1rem;
      }
    }

    .flex-heading {
      display: flex;
      align-items: center;

      @media (max-width: $size_lg) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: .85rem;
      }
    }
  }
}
