@import '../variables';

.layout {
  &.covid {
    background-color: $light-color;

    .main-content {
      padding: 0;

      @media (max-width: $size_lg) {
        padding: 0;
      }

      // & > div {
      //   padding-top: 3rem;
      // }
    }

    .section {
      // min-height: 85vh;
      padding: 3rem 5rem;

      @media (max-width: $size_lg) {
        padding: 3rem 1rem;
      }
    }

    .flex-heading {
      display: flex;
      align-items: center;

      @media (max-width: $size_lg) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: .85rem;
      }
    }

    // #statistics
    .statistics {
      & > div:first-child,
      & > div:last-child {
        margin: 1rem auto;
      }

      @media (max-width: $size_lg) {
        & > div:first-child,
        & > div:last-child {
          margin-top: .5rem auto;
        }
      }

      .stats-card-wrapper {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: $size_md) {
          grid-gap: .5rem;
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $size_xxs) {
          grid-gap: .5rem;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    // #symptoms
    // #prevention
    .auto-grid {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      justify-items: center;
      align-items: center;
      width: 100%;
      overflow: hidden;

      @media (max-width: $size_md) {
        grid-gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
      }

      @media (max-width: $size_xs) {
        grid-gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
      }

      & > div {
        margin-top: .5rem;
      }

      & > div > div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        overflow: hidden;
        margin: .5rem auto;
        // background-color: rgba($grey3-color, .15);
        background-color: #E1E1FF;

        @media (max-width: $size_md) {
          width: 9rem;
          height: 9rem;
        }

        @media (max-width: $size_xs) {
          width: 7.5rem;
          height: 7.5rem;
        }

        &:hover {
          background-color: rgba($primary-color, .55);
        }

        &.ai-fe {
          align-items: flex-end;
          background-color: #FFB001;

          &:hover {
            background-color: rgba($primary-color, .95);
          }
        }

        &.overflow-visible {
          overflow: visible;
        }

        img.scale-up {
          transform: scale(1.25);

          @media (max-width: $size_md) {
            transform: scale(1.1);
          }

          @media (max-width: $size_xs) {
            transform: scale(.95);
          }
        }

        img.scale-down {
          transform: scale(.95);

          @media (max-width: $size_md) {
            transform: scale(.85);
          }

          @media (max-width: $size_xs) {
            transform: scale(.75);
          }
        }

        div {
          position: absolute;
        }
      }

      & > div > div:last-child {
        height: 2.5rem;
        padding: 0 .5rem;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
