@import '../variables';

// Text Colors
.text {
  &-primary {
    color: $primary-color;
  }
}

// Background Colors
.bg {
  &-primary {
    background-color: rgba($color: $primary-color, $alpha: .05);
  }
  &-light {
    background-color: rgba($color: $light-color, $alpha: .05);
  }
  &-grey1 {
    background-color: rgba($color: $grey1-color, $alpha: .05);
  }
  &-grey3 {
    background-color: rgba($color: $grey3-color, $alpha: .05);
  }
  &-grey5 {
    background-color: rgba($color: $grey5-color, $alpha: .05);
  }
}
