.flex {
  display: flex;

  &-row {
    flex-direction: row;

    &-fs {
      justify-content: flex-start;

      &-fs {
        align-items: flex-start;
      }
      &-fe {
        align-items: flex-end;
      }
      &-c {
        align-items: center;
      }
      &-sa {
        align-items: space-around;
      }
      &-se {
        align-items: space-evenly;
      }
      &-sb {
        align-items: space-between;
      }
    }

    &-fe {
      justify-content: flex-end;

      &-fs {
        align-items: flex-start;
      }
      &-fe {
        align-items: flex-end;
      }
      &-c {
        align-items: center;
      }
      &-sa {
        align-items: space-around;
      }
      &-se {
        align-items: space-evenly;
      }
      &-sb {
        align-items: space-between;
      }
    }

    &-c {
      justify-content: center;

      &-fs {
        align-items: flex-start;
      }
      &-fe {
        align-items: flex-end;
      }
      &-c {
        align-items: center;
      }
      &-sa {
        align-items: space-around;
      }
      &-se {
        align-items: space-evenly;
      }
      &-sb {
        align-items: space-between;
      }
    }

    &-sa {
      justify-content: space-around;

      &-fs {
        align-items: flex-start;
      }
      &-fe {
        align-items: flex-end;
      }
      &-c {
        align-items: center;
      }
      &-sa {
        align-items: space-around;
      }
      &-se {
        align-items: space-evenly;
      }
      &-sb {
        align-items: space-between;
      }
    }

    &-se {
      justify-content: space-evenly;

      &-fs {
        align-items: flex-start;
      }
      &-fe {
        align-items: flex-end;
      }
      &-c {
        align-items: center;
      }
      &-sa {
        align-items: space-around;
      }
      &-se {
        align-items: space-evenly;
      }
      &-sb {
        align-items: space-between;
      }
    }
    &-sb {
      justify-content: space-between;

      &-fs {
        align-items: flex-start;
      }
      &-fe {
        align-items: flex-end;
      }
      &-c {
        align-items: center;
      }
      &-sa {
        align-items: space-around;
      }
      &-se {
        align-items: space-evenly;
      }
      &-sb {
        align-items: space-between;
      }
    }
  }

  &-col {
    flex-direction: column;

    &-fs {
      align-items: flex-start;

      &-fs {
        justify-content: flex-start;
      }
      &-fe {
        justify-content: flex-end;
      }
      &-c {
        justify-content: center;
      }
      &-sa {
        justify-content: space-around;
      }
      &-se {
        justify-content: space-evenly;
      }
      &-sb {
        justify-content: space-between;
      }
    }

    &-fe {
      align-items: flex-end;

      &-fs {
        justify-content: flex-start;
      }
      &-fe {
        justify-content: flex-end;
      }
      &-c {
        justify-content: center;
      }
      &-sa {
        justify-content: space-around;
      }
      &-se {
        justify-content: space-evenly;
      }
      &-sb {
        justify-content: space-between;
      }
    }

    &-c {
      align-items: flex-end;

      &-fs {
        justify-content: flex-start;
      }
      &-fe {
        justify-content: flex-end;
      }
      &-c {
        justify-content: center;
      }
      &-sa {
        justify-content: space-around;
      }
      &-se {
        justify-content: space-evenly;
      }
      &-sb {
        justify-content: space-between;
      }
    }

    &-sa {
      align-items: space-around;

      &-fs {
        justify-content: flex-start;
      }
      &-fe {
        justify-content: flex-end;
      }
      &-c {
        justify-content: center;
      }
      &-sa {
        justify-content: space-around;
      }
      &-se {
        justify-content: space-evenly;
      }
      &-sb {
        justify-content: space-between;
      }
    }

    &-se {
      align-items: space-evenly;

      &-fs {
        justify-content: flex-start;
      }
      &-fe {
        justify-content: flex-end;
      }
      &-c {
        justify-content: center;
      }
      &-sa {
        justify-content: space-around;
      }
      &-se {
        justify-content: space-evenly;
      }
      &-sb {
        justify-content: space-between;
      }
    }

    &-sb {
      align-items: space-between;

      &-fs {
        justify-content: flex-start;
      }
      &-fe {
        justify-content: flex-end;
      }
      &-c {
        justify-content: center;
      }
      &-sa {
        justify-content: space-around;
      }
      &-se {
        justify-content: space-evenly;
      }
      &-sb {
        justify-content: space-between;
      }
    }
  }
}
