// Core Colors
$primary-color: #DD2525 !default;
$black-color: #000000 !default;
$white-color: #FFFFFF !default;
$dark-color: #333333 !default;
$grey1-color: #333333 !default;
$grey2-color: #4F4F4F !default;
$grey3-color: #828282 !default;
$grey4-color: #BDBDBD !default;
$grey5-color: #E0E0E0 !default;
$grey6-color: #F2F2F2 !default;
$light-color: #FFFFFF !default;

// Other Colors
$link-color: $primary-color !default;
$link-color-light: lighten($link-color, 10%);
$link-color-dark: darken($link-color, 10%);

// Text Color
$font-color: grey1-color !default;

// NProgress Color
$nprogress-color: $primary-color !default;

$font-size: 20px;
$line-height: 1.5;
$body-bg-color: darken($light-color, 1%);
$body-font-color: $dark-color;
$body-font-family: 'Noto Sans', 'system-ui', sans-serif;
$mono-font-family: 'Nimbus Mono', monospace;

// Unit Sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .2rem !default;
$unit-2: .4rem !default;
$unit-3: .6rem !default;
$unit-4: .8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;

// Other Sizes
$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;
$border-radius: $unit-1 !default;
$border-width: $unit-1 !default;
$border-width-lg: $unit-2 !default;
$border-width-sm: $unit-h !default;

// Responsive Breakpoints
$size-xxs: 360px !default;
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 1080px !default;
$size-xl: 1200px !default;
$size-xxl: 1440px !default;

// Z-index
$zindex-0: 1 !default;
$zindex-4: 400 !default;
